/* Nav bar styling */
.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav-menu {
    display: flex;
}
.nav-link{
    list-style: none;
}
.nav-link a{
    text-decoration: none;
    margin-right: 48px;
    color: #252432;
}
/* Banner style */
.banner{
    display: flex;
    justify-content: space-between;
    padding-top: 120px;
    padding-bottom: 120px;
    align-items: center;
}
.banner-content{
    height: 299px;
    width: 570px;
}
.banner-content h3{
    font-size: 65px;
    margin-bottom: 0px;
}
.banner-content p{
    font-size: 22px;
}

/* plant section style */

.title-subtitle {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.title-subtitle h3{
    font-size: 50px;
    margin-bottom: 0px;
}
.title-subtitle p{
    font-size: 22px;
    text-align: center;
}
.plant-cards{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
}
.card{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 10px;
}
.card image{
    width: 100%;
    max-width: 270px;
}
.card h3{
    margin-bottom: 0px;
}
.card button{
    width: 100%;
    max-width: 270px;
    background-color: #E95A08;
    color: white;
    border: none;
    padding: 12px;
    
    
}
/* Plant love section */
.list-head{
    font-size: 50px;
}
.list-item{
    font-size: 22px;
}
.plant-lover-content{
    gap: 20px;
}

.plant-lover {
    height: 597px;
    width: 1140px;
    display: flex;
    justify-content: space-between;
    margin-top: 210px;
}  
.plant-lover-image{
    width: 100%;
    margin-bottom: 0px;
    display: flex;
}
.flower-store{
    height: 597px;
    width: 540px;
    margin: 0px;
}
.badge{
    height: 286px;
    width: 286px;
    margin-top: -120px;
    margin-left: -150px;

}
/* latest deal section */
.latest-deal-section{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 135px;
}
.latest-deal-section h3{
    font-size: 50px;
    margin-bottom: 0px;
}
.latest-deal-section p{
    font-size: 20px;
    text-align: center;
}

/* join section style */
.join-section{
    margin-top: 120px;
    padding: 100px 0px;
    height: 533px;
    width: 100%;
    text-align: center;
    align-content: center;
    background-image: url(../assets/news-letter-bg.png);
    background-size: cover;
}
.input-title{
    font-size: 50px;
    color: white;
}
.input-items{
    font-size: 0px;
}
.email-input{
    height: 50px;
    width: 644px;
}
.input-items button {
    background-color: #E95A08;
    color: white;
    height: 50px;
    width: 186px;
    border: none;
    margin: 0px;
}
/* Footyer style */
.footer {
    display: flex;
    margin: 50px 160px;
    justify-content: space-between;
}
.footer-links{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}
.brand-logo p{
    font-size: 18px;
}
.footer-links{
    font-size: 12px;
}
.footer-icons img{
    margin-left: 24px;
    align-items: center;

}
/* Shared Style */

@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:ital,wght@0,100..900;1,100..900&display=swap');

.headline-font {
  font-family: "Noto Serif", serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: Bold;
  font-variation-settings:
    "wdth" 100;
}

@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

.content-font {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}

.font-gray{
    color: rgb(0, 0, 0, 0.5);
}

.font-dark{
    color: black;
}

.font-red{
    color: #E95A08;
}

.margin{
    margin-right: 150px;
    margin-left: 150px;
}

/* Responsive */

@media screen and (max-width: 768px) {
    .nav-link {
        display: none;
    }

    .margin{
        margin-left: 16px;
        margin-right: 16px;
    }

    .banner{
        flex-direction: column-reverse;
    }
    .banner-content{
        text-align: left;
    }
    .plant-cards{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    }
    .plant-lover{
        flex-direction: column;
    }
    .plant-lover-content{
        text-align: left;
    }
    .badge{
        display: none;
    }
    .join-section{
        height: 275px;
    }
    .input-title{
        font-size: 20px;;
    }
    .email-input{
    width: 218px;
    }
    .input-items button {
    width: 103px;
    }
    .footer{
        flex-direction: column;
    }
    .footer-icons{
        display: flex;
    }
}
