/* Nav bar styling */
.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
ul {
    display: flex;
}
ul li{
    list-style: none;
}
li a{
    text-decoration: none;
    margin-right: 48px;
    color: #252432;
}
/* Banner style */
.banner{
    display: flex;
    justify-content: space-between;
    padding-top: 120px;
    padding-bottom: 120px;
    align-items: center;
}
.banner-content{
    height: 299px;
    width: 570px;
}
.banner-content h3{
    font-size: 65px;
    margin-bottom: 0px;
}
.banner-content p{
    font-size: 22px;
}
/* Shared Style */

@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:ital,wght@0,100..900;1,100..900&display=swap');

.headline-font {
  font-family: "Noto Serif", serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: Bold;
  font-variation-settings:
    "wdth" 100;
}

@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

.content-font {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}

.font-gray{
    color: rgb(0, 0, 0, 0.5);
}

.font-dark{
    color: black;
}

.font-red{
    color: #E95A08;
}

.margin{
    margin-right: 9.5rem;
    margin-left: 9.5rem;
}

/* Responsive */

@media screen and (max-width: 768px) {
    .nav-link {
        display: none;
    }

    .margin{
        margin-left: 16px;
        margin-right: 16px;
    }

    .banner{
        flex-direction: column-reverse;
    }
    .banner-content{
        text-align: left;
    }

}
